.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: #d5d2ed;
  height: 96px;
  margin-bottom: 3px;

  .left {
    display: flex;

    .buttons {
      display: flex;
      align-items: center;

      div {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .right {
    display: flex;
    gap: 15px;
  }
}
