@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ballmer";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "titan";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "runic";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Poppins"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
